<nav class="nav text-center row fixed-top">
    <NavLink class="nav-link col-md-4 col-2" href="/" title="Hire Developer">
    </NavLink>
	<NavLink class="nav-link col-md-4 col-8" href="/">
    </NavLink>
    <NavLink class="nav-link col-md-4 col-2" href="/" title="Download Source Code">
    </NavLink>
</nav>
